<h1>eMail Configuration</h1>
<p>The “eMail Config” page part is where the email configuration parameters are set.</p>
<table cellspacing="0" cellpadding="0" border="0" id="smers" class="index">
  <thead>
     <tr>
        <th>Title</th>
        <th class="modify">Modify</th>
     </tr>
  </thead>
  <tbody>
    
            
<% for smer in @smers %>

  <tr class="node level-1">
    <td class="snippet">
      <img src="/images/admin/snippet.png" alt="smer-icon"/>
      <span><%= link_to h(smer.subject), 'smers/edit/'+smer.id.to_s %></span>
    </td>
    <td class="remove">
      <img src="/images/admin/remove.png?1222209194" alt="Remove eMail"/>
    </td>
  </tr>  
<% end %>
 </tbody>
</table>

<br />

<%= link_to 'New eMail Configuration', 'smers/new' %>
